* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #EAEEED;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

header {
    padding: 50px 0px;
    text-align: center;
    font-size: 250%;
}

footer {
    display: flex;
    flex: 0 0 auto;
    margin-top: 100px;
    padding: 50px 0px;
    border: solid black;
    background-color: black;
    color: #EAEEED;
}

.container {
    font-family: 'Courier new';
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main_label {
    margin-left: 100px;
}

.main {
    flex: 1 1 auto;
}

.en_style {
    border: solid black;
    display: inline-block;
    margin-left: -20px;
    margin-right: -20px;
    background-color: black;
    color: #EAEEED;
}

.user_label {
    float: right;
    margin-right: 50px;
    padding-top: 5.5px;
    width: 50px;
    height: 50px;
}

.header_line {
    border-bottom: 2px solid black;
}

.block_main_buttons {
    margin-bottom: 100px;
    padding: 20px;
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 33%);
    justify-items: center;
    font-size: 200%;
}

.block_main_buttons_link {
    position: relative;
}

.block_main_buttons_link:hover {
    color: black;
}

.block_main_buttons_link:hover:before {
    transform: scaleX(1);
    transition: transform 0.3s;
    transform-origin: left;
}

.block_main_buttons_link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.block_label_footer {
    font-size: 200%;
    margin-left: 30px;
}

.label_footer {
    border: solid #EAEEED;
    display: inline-block;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #EAEEED;
    color: black;
}

.email  {
    margin-left: auto;
    font-size: 120%;
    margin-right: 30px;
}