* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #EAEEED;
}

a {
    text-decoration: none;
    color: black;
}

header {
    padding: 50px 0px;
    text-align: center;
    font-size: 250%;
}

footer {
    margin-top: 100px;
    padding: 50px 50px;
    border: solid black;
    background-color: black;
    color: #EAEEED;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.container {
    font-family: 'Courier new';
}

.header_style {
    border: solid black;
    display: inline-block;
    margin-left: -20px;
    margin-right: -20px;
    background-color: black;
    color: #EAEEED;
}

.header_line {
    border-bottom: 2px solid black;
}

.block_main_buttons {
    margin-bottom: 100px;
    padding: 20px;
    display: grid;
    width: auto;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    font-size: 200%;
}

.block_main_buttons_link {
    position: relative;
}

.block_main_buttons_link:hover {
    color: black;
}

.block_main_buttons_link:hover:before {
    transform: scaleX(1);
    transition: transform 0.3s;
    transform-origin: left;
}

.block_main_buttons_link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.block_label {
    font-size: 250%;
}

.label {
    border: solid #EAEEED;
    display: inline-block;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #EAEEED;
    color: black;
}

.email  {
    text-align: right;
    font-size: 150%;
}