.block_profile {
    width: 500px;
    margin: 20px auto;
    text-align: center;
}

.flash {
    height: 40px;
    width: 400px;
    padding-top: 15px;
    margin: 30px auto;
    background-color: green;
    border-radius: 30px;
    font-size: 150%;
    font-weight: bold;
}

.name_profile {
    font-size: 200%;
}

.line {
    border-bottom: 1px solid #000;
    margin: 5px auto;
}

.user_photo {
    margin-top: 20px;
}

.data_user_photo {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.user_name {
    margin-top: 20px;
}

.data_label_name {
    margin-bottom: 20px;
    text-align: left;
    opacity: 0.6;
    font-size: 100%;
}

.data_user_name {
    text-align: left;
    width: 500px;
    margin-top: 10px;
    font-family: 'Courier new';
    font-size: 120%;
    border: none;
    background-color: #EAEEED;
}

.user_status {
    margin-top: 30px;
}

.data_label_status {
    margin-bottom: 20px;
    text-align: left;
    opacity: 0.6;
    font-size: 100%;
}

.data_user_status    {
    text-align: left;
    width: 500px;
    margin-top: 10px;
    font-family: 'Courier new';
    font-size: 120%;
    border: none;
    background-color: #EAEEED;
}

.input_change_password {
    margin-top: 20px;
    font-family: 'Courier new';
    font-size: 150%;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #000;
    background-color: #EAEEED;
    padding: 2px 148px;
    transition: 0.5s;
}

.input_change_password:hover {
    background-color: #000;
    color: #EAEEED;
}

.input_logout {
    margin-top: 20px;
    font-family: 'Courier new';
    font-size: 150%;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #000;
    background-color: #EAEEED;
    padding: 2px 134px;
    transition: 0.5s;
}

.input_logout:hover {
    background-color: #000;
    color: #EAEEED;
}