input {
    outline: none;
}

input::placeholder {
    opacity: 0.5;
    color: black;
}

.block_registration {
    width: 500px;
    margin: 20px auto;
    text-align: center;
}

.flash {
    height: 40px;
    width: 400px;
    padding-top: 15px;
    margin: 30px auto;
    background-color: red;
    border-radius: 30px;
    font-size: 150%;
    font-weight: bold;
}

.name_registration {
    font-size: 200%;
}

.enter_data {
    text-align: left;
}

.enter_login {
    margin-top: 20px;
}

.mail_input {
    width: 500px;
    margin-top: 10px;
    font-family: 'Courier new';
    font-size: 120%;
    border: none;
    background-color: #EAEEED;
}

.enter_password {
    margin-top: 10px;
}

.enter_password_omt {
    margin-top: 10px;
}

.password_input {
    width: 500px;
    margin-top: 10px;
    font-family: 'Courier new';
    font-size: 120%;
    border: none;
    background-color: #EAEEED;
}

.line {
    border-bottom: 1px solid #000;
    margin: 5px auto;
}

.login_buttons {
    margin-top: 40px;
}

.input_registration {
    font-family: 'Courier new';
    font-size: 150%;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #000;
    background-color: #EAEEED;
    padding: 2px 121px;
    transition: 0.5s;
}

.input_registration:hover {
    background-color: #000;
    color: #EAEEED;
}

.input_authorization {
    margin-top: 20px;
    font-family: 'Courier new';
    font-size: 150%;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #000;
    background-color: #EAEEED;
    padding: 2px 151px;
    transition: 0.5s;
}

.input_authorization:hover {
    background-color: #000;
    color: #EAEEED;
}