{% extends 'base.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
{% endblock %}

{% block body %}
<div class="block_authorization">
    <div class="name_authorization">
        Вход
    </div>
    <div class="enter_data">
        <div class="enter_mail">
            <input class="mail_input" placeholder="Введите логин">
            <div class="line"></div>
        </div>
        <div class="enter_password">
            password
            <div class="line"></div>
        </div>
    </div>
    <div class="login_buttons">
        <div class="button_login">
            <button>Войти</button>
        </div>
        <div class="button_registration">
            <button>Зарегестрироваться</button>
        </div>
    </div>
</div>
{% endblock %}