{% extends 'base.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
{% endblock %}

{% block body %}
<div class="block_authorization">
    {% for msg in get_flashed_messages() %}
    <div class="flash">
        {{ msg }}
    </div>
    {% endfor %}
    <div class="name_authorization">
        Авторизация
    </div>
    <form action="/form_login">
        <div class="enter_data">
            <div class="enter_login">
                <input name="user_login" class="login_input" placeholder="Введите логин">
                <div class="line"></div>
            </div>
            <div class="enter_password">
                <input name="user_password" type="password" class="password_input" placeholder="Введите пароль">
                <div class="line"></div>
            </div>
        </div>
        <div class="login_buttons">
            <div class="button_login">
                <input name="button_login" type="submit" value="Войти" class="input_login">
            </div>
            <div class="button_registration">
                <input name="button_registration" type="submit" value="Зарегистрироваться" class="input_registration">
            </div>
        </div>
    </form>
</div>
{% endblock %}