<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/base.css') }}">
    {% block link %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <a href="/">
                Petr
                <div class="header_style">
                    en
                </div>
                d
            </a>
            <div class="header_line"></div>
        </header>
        <div class="block_main_buttons">
            <a href="/attachments" class="block_main_buttons_link">
                Навесное оборудование
            </a>
            <a href="/survey" class="block_main_buttons_link">
                Найти неисправность
            </a>
            <a href="/engine" class="block_main_buttons_link">
                Двигатель
            </a>
        </div>
        <div class="main">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="block_label_footer">
                <label>
                    Petr
                </label>
                <label class="label_footer">
                    en
                </label>
                <label>
                    d
                </label>
            </div>
            <div class="email">
                E-Mail:<br />helpmail@mail.ru
            </div>
        </footer>
    </div>
</body>
</html>