{% extends 'base.html' %}

{% block title %}
Смена пароля
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
{% endblock %}

{% block body %}
<div class="block_change_password">
    {% for msg in get_flashed_messages() %}
    <div class="flash">
        {{ msg }}
    </div>
    {% endfor %}
    <div class="name_change_password">
        Смена пароля
    </div>
    <form action="/form_change_password">
        <div class="enter_data">
            <div class="enter_old_password">
                <input name="user_old_password" class="old_password" placeholder="Введите старый пароль">
                <div class="line"></div>
            </div>
            <div class="enter_new_password">
                <input name="user_new_password" class="new_password" placeholder="Введите новый пароль">
                <div class="line"></div>
            </div>
            <div class="enter_new_password_omt">
                <input name="user_new_password_omt" class="new_password_omt" placeholder="Введите новый пароль повторно">
                <div class="line"></div>
            </div>
            <div class="enter_key_word">
                <input name="user_key_word" class="key_word" placeholder="Введите кодовое слово">
                <div class="line"></div>
            </div>
        </div>
        <div class="change_password_buttons">
            <div class="button_change_password">
                <input name="button_change_password" type="submit" value="Сменить пароль" class="input_change_password">
            </div>
            <div class="button_back">
                <input name="button_back" type="submit" value="Назад" class="input_back">
            </div>
        </div>
    </form>
</div>
{% endblock %}