{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block link %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="block_article">
    <div class="name_article">
        Интересная история
    </div>
    <div class="line"></div>
    <div class="block_content">
        <img src="../static/pictures/m5e39.png">
        <div class="content">
            BMW M5 E39 - Икона скорости и стиля
        </div>
    </div>
    <div class="text_article">
        Наиболее мощной «пятеркой», традиционна, является М5. Серия Е39 не стала исключением. Восьмицилиндровый
        двигатель рабочим объемом 4,9 л, оборудованный системой Doppel-VANOS и восемью индивидуальными дроссельными
        заслонками, развивает мощность 400 л.с. Это позволяет машине набирать скорость 100 км/ч с места за 5,3 с. BMW
        M5 E39 комплектовалась только механической 6-ступенчатой коробкой передач, а максимальная скорость модели,
        как и большинства мощных немецких автомобилей, была ограничена принудительно 250 км/ч.
    </div>
    <div class="line"></div>
</div>
{% endblock %}

