{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block link %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="block_article">
    <div class="name_article">
        Автомобильная история
    </div>
    <div class="line"></div>
    {% for i in data %}
    <div class="block_content">
        <!-- <img src="data:image/jpeg;base64,{{ encoded_img_data }}" alt="Converted Image"> -->
        <!-- <img src="{{ image }}" alt="Image"> -->
        <img src="{{ i.img }}">
        <div class="content">
            {{ i.name_article }}
        </div>
    </div>
    <div class="text_article">
        {{ i.text_article }}
    </div>
    {% endfor %}
    <div class="line"></div>
</div>
{% endblock %}

