{% extends 'munfunction_base.html' %}

{% block title %}
Аккумулятор плохо держит заряд
{% endblock %}

{% block link %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/munfunction_battery_not_hold_charge.css') }}">
{% endblock %}

{% block name_munfunction_description %}
<div class="name_description_munfunction">
    Аккумумлятор плохо держит заряд
</div>
{% endblock %}

{% block description %}
<div class="block_description">
    Автовладельцы при плохом запуске автомобиля или вовсе его отказе думают, что возникли какие-то проблемы с
аккумулятором, особенно в зимнее время года, так выделим основные критерии по которым это можно определить. Начнем с
момента когда автомобиль заводится, но с трудом. Если вы слышите при попытке запуска, что стартер крутит плохо
(медленно), то причина в недостаточной зарядке аккумулятор. А что же озночает то, что когда вы крутите ключом в замке
зажигания вы слышите щелчки из-под капота. Это значит, что аккумулятор имеет недостаточный вольтаж, чтобы стартер
завел двигатель.
</div>
{% endblock %}