{% extends 'base.html' %}

{% block title %}
Аккумулятор плохо держит заряд
{% endblock %}

{% block link %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/munfunction_base.css') }}">
{% endblock %}

{% block body %}
<div class="block_other_buttons">
    <div class="other_buttons">
        <a href="#" class="other_buttons_animation">
            Рекомендации
        </a>
    </div>
    <div class="munfunction_label">
        Неисправность
    </div>
    <div class="other_buttons">
        <a href="#" class="other_buttons_animation">
            Последствия
        </a>
    </div>
</div>
<div class="block_munfunction">
    <div class="munfunction_head">
        <button class="button_favorite">
            <div class="flag_favorite"></div>
        </button>
        <div class="munfunction_name">
            Аккумулятор плохо держит заряд
        </div>
        <button class="button_mark">
            <div class="flag_mark"></div>
        </button>
    </div>
    <div class="line"></div>
    <div class="munfunction_description">
        Автовладельцы при плохом запуске автомобиля или вовсе его отказе думают, что возникли какие-то проблемы с аккумулятором,
        особенно в зимнее время года, так выделим основные критерии по которым это можно определить. Начнем с момента когда
        автомобиль заводится, но с трудом. Если вы слышите при попытке запуска, что стартер крутит плохо (медленно), то причина
        в недостаточной зарядке аккумулятор. А что же озночает то, что когда вы крутите ключом в замке зажигания вы слышите щелчки из-под капота. Это значит, что аккумулятор имеет недостаточный вольтаж, чтобы стартер завел двигатель.
    </div>
    <div class="line"></div>
</div>
<div class="block_comment">
    <div class="block_comment_send">
        <form action="/form_send">
            <textarea minlength="1" name="comment_send" type="text" placeholder="Оставьте комментарий..." class="comment_send_text"></textarea>
            <br>
            <button class="comment_send_button" onclick="submit">Отправить</button>
        </form>
    </div>
</div>
<div class="block_comment_info">
    <div class="comment_name">
        Комментарии
    </div>
    <div class="comment_number">
        {{ comment_count }}
    </div>
</div>
<div class="block_comments">
    {% for c in comments %}
    <div class="block_user_comment">
        <div class="user_info">
            <img src="../static/pictures/cloud.png" class="user_photo">
            <div class="user_name">
                {{ c.user_name }}
            <br>
            <div class="user_date">
                Опубликовано {{ c.datetime }}
            </div>
            </div>
        </div>
        <div class="user_comment">
            {{ c.comment }}
        </div>
        <!-- <button class="button_answer_comment">
            Ответить
        </button> -->
    </div>
    {% endfor %}
</div>
{% endblock %}