{% extends 'munfunction_base.html' %}

{% block title %}
Аккумулятор плохо держит заряд
{% endblock %}

{% block munfunction_name %}
Аккумумлятор плохо держит заряд
{% endblock %}

{% block munfunction_description %}
Автовладельцы при плохом запуске автомобиля или вовсе его отказе думают, что возникли какие-то проблемы с аккумулятором,
особенно в зимнее время года, так выделим основные критерии по которым это можно определить. Начнем с момента когда
автомобиль заводится, но с трудом. Если вы слышите при попытке запуска, что стартер крутит плохо (медленно), то причина
в недостаточной зарядке аккумулятора. А что же означает то, что когда вы крутите ключом в замке зажигания вы слышите
щелчки из-под капота. Это значит, что аккумулятор имеет недостаточный вольтаж, чтобы стартер завел двигатель.
{% endblock %}